
    <div id="show" class="scheduler form-control">
        <input type="hidden" id="startDate" />
        <input type="hidden" id="endDate" />
        <input type="hidden" id="night" />
        <span class="sch startday"></span>
        <span> - </span>
        <span class="sch endday"></span>
    </div>
    <div class="sec_cal" style="height: 0px">
        <div class="cal_nav">
            <a href="javascript:;" class="nav-btn go-prev">prev</a>
            <div class="year-month"></div>
            <a href="javascript:;" class="nav-btn go-next">next</a>
        </div>
        <div class="cal_wrap">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>