

        <section id="footer" class="container">
            <div class="align">
                <a class="clogo" href="/yolo">
                    <img src="/image/company-logo/logo-w.png" alt="logo"/>
                </a>
                <div class="left_box">
                    <ul class="agreement_list">
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">사업자 정보확인</a></li>
                        <li><a href="#">상품제휴/입점문의</a></li>
                    </ul>
                    <ul class="cinfo">
                        <li>상호 : YOLO Camping</li>
                        <li>대표자 : 김은아</li>
                        <li>사업자등록번호 : 123-12-45678</li>
                        <li>통신판매신고번호 : 2011-상호명-1235</li>
                        <li>소재지 : 창원시 마산회원구 양덕2동 경민인터빌 4층 아이티에듀넷</li>
                        <li>
                            개인정보보호책임자 : 김은아
                        </li>
                        <li>호스팅 제공자 : 아마존 xxxxxx</li>
                    </ul>
                </div>
            </div>
            <div class="copy">Copy All Right &copy; localhost:8080/YoloCamping</div>
        </section>

    </body>

</html>
    <script src="https://kit.fontawesome.com/ef95c4be0b.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src ="/js/url.js"></script>
    <script src ="/js/modal.js"></script>
    <script src ="/js/detailed.js"></script>
    <script src ="/js/calender.js"></script>
