<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>캠핑장 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/search.css" />


    <title>YOLO Camping</title>
</head>
<body>
<section id="header" class="container">
    <div class="align">
        <div class="clogo">
            <img src="/image/company-logo/logo-b.png" alt="회사로고" />
        </div>
    </div>
</section>

<section id="result" class="container">
    <div class="succese">
        {{#result}}
            <div class="card mb-3">
                <div class="flex">
                    <a href="/manager/{{campingNo}}" class="card-img">
                        <img src="/Camping/image/camping/default.jpg" alt="img"/>
                    </a>
                    </a>
                    <div class="card-body col-8">
                        <a href="/manager/{{campingNo}}">
                            <div class="card-title title"> {{campingName}} </div>
                            <h4 class="card-subtitle subtitle">
                                    <span>
                                        <i class="fas fa-map-marked-alt"></i>
                                        {{campingAddress}}
                                    </span>
                                <span>
                                        <i class="fas fa-phone-alt"></i>
                                    {{campingPhone}}
                                    </span>
                            </h4>
                            <p class="card-text">

                            </p>
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        {{/result}}
    </div>
    {{^result}}
        <div class="fail"> 검색 결과가 없습니다.</div>
    {{/result}}
</section>



{{>layout/footer}}