
{{>layout/header}}

{{#result}}
    <section id="campinfo" class="container">
        <div class="card mb-3">
            <div class="flex">
                <div class="card-img">
                    <img src="/image/camping/default.jpg" alt="img"/>
                </div>
                <div class="card-body col-8">
                    <div>
                        <div id="campingname" class="card-title title"> {{campingName}} </div>
                        <h4 class="card-subtitle subtitle">
                            <span>
                                <i class="fas fa-map-marked-alt"></i>
                                {{campingAddress}}
                            </span>
                            <span>
                                <i class="fas fa-phone-alt"></i>
                                {{campingPhone}}
                            </span>
                        </h4>
                        <p class="card-text">
                            {{campingInfo}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        {{>layout/calender}}
    </div>

    <section id="roominfo" class="container">
        <label>객실안내/예약</label>
        <div class="room">
            {{#result.roomDto}}
            <div class="card">
                <div class="flex">
                    <div class="col-5">
                        <img src="/image/camping/{{roomImg}}" class="card-img" alt="...">
                    </div>
                    <div class="col-7 rinfo">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div>{{roomName}}</div>
                                <div>{{roomPrice}}원</div>
                            </h5>
                            <p class="card-text">기본정보 : 최소인원 - {{roomMin}}인 / 최대인원 - {{roomMax}}인 </p>
                            <p class="card-text">객실타입 : {{roomType}}</p>
                            <p class="card-text">남은객실 : {{roomCount}}</p>
                            <p class="card-text">객실설명 : {{roomInfo}}</p>
                        </div>
                        <a onclick="selection('{{roomName}}')" class="btn booking">예약하기</a>
                    </div>
                </div>
            </div>
            {{/result.roomDto}}
        </div>
    </section>

    {{>content/service/modal}}

{{/result}}
{{>layout/footer}}

<script src ="/js/calender.js"></script>
<script src ="/js/modal.js"></script>
<script src ="/js/vaild.js"></script>
